@page
@model RazorWebAppOwnDB.Pages.EmailExitModel
@{
    ViewData["Title"] = "EmailExit";
}

<h2>Thank you, your email has been sent!</h2>

<h4>Continue Exploring Our Resources:</h4>
<h5><a href="/IndexHome">Return Home.</a></h5>
<h5><a href="/Members">Explore the Directory.</a></h5>
<h5><a href="/Members/Create">Add a New Member.</a></h5>
<h5><a href="/Contact">Send Another Email.</a></h5>

